<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lr_soft.windows98simulator"
    android:installLocation="preferExternal"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.SET_WALLPAPER" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />  <!-- https://developer.android.com/guide/topics/manifest/uses-permission-element -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission-sdk-23 android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission-sdk-23 android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        tools:targetApi="r">
        <!-- android:screenOrientation="landscape" -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />-->
            </intent-filter>
        </activity>

        <provider
            android:name=".InstallApkProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="com.lr_soft.windows98simulator.fileProvider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>

</manifest>